<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Feature Requests</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mt-4">Submit a Feature Request</legend>
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {{ form.description(class="form-control", rows="4") }}
            </div>
            <div class="form-group">
                {{ form.client.label(class="form-control-label") }}
                {{ form.client(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.client_priority.label(class="form-control-label") }}
                {{ form.client_priority(class="form-control", min="1") }}
            </div>
            <div class="form-group">
                {{ form.target_date.label(class="form-control-label") }}
                {{ form.target_date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.product_area.label(class="form-control-label") }}
                {{ form.product_area(class="form-control") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary mb-4") }}
        </div>
    </form>
    <div class="row border-bottom">
        <div class='col-sm-4'>
            <b>Title</b>
        </div>
        <div class='col-sm-2'>
            <b>Target Date</b>
        </div>
        <div class='col-sm-2'>
            <b>Client</b>
        </div>
        <div class='col-sm-1'>
            <b>Priority</b>
        </div>
        <div class='col-sm-2'>
            <b>Product Area</b>
        </div>
    </div>
    <div id="list">
    </div>
    <div class="row">
        <div class="col-sm-2">
            <button class="btn btn-secondary" id="prev">&lt;&lt;</button>
        </div>
        <div class="col-sm-1 offset-sm-9">
            <button class="btn btn-secondary" id="next">&gt;&gt;</button>
        </div>
    </div>
</div>
<!-- Latest compiled and minified jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="modal fade" id="flashModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Feature Request Sent</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ messages[0] }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    <script>
        api.displayFlash()
    </script>
    {% endif %}
{% endwith %}
<script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script id='ajaxTemplate' type='text/x-jquery-tmpl'>
<div class='row'>
    <div class='col-sm-4'>
        ${title}
    </div>
    <div class='col-sm-2'>
        ${date}
    </div>
    <div class='col-sm-2'>
        ${client}
    </div>
    <div class='col-sm-1'>
        ${clientPriority}
    </div>
    <div class='col-sm-2'>
        ${productArea}
    </div>
    <div class='col-sm-1'>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal${id}">info</button>
        </button>
    </div>
</div>
<div class="modal fade" id="modal${id}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Feature Request Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <b>Title: </b> ${title} </br>
                <b>Description: </b> ${description} </br>
                <b>Client Name: </b> ${client} </br>
                <b>Client Priority: </b> ${clientPriority} </br>
                <b>Product Area: </b> ${productArea} </br>
                <b>Target Date: </b> ${date}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</script>
<script>
    api.initList("{{ url_for('list_feature_requests') }}", "list")
</script>
</body>
</html>